.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbarTitle{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarInfo{
  margin-bottom: 30px;
}

.rightbarInfoItem{
  margin-bottom: 10px;
}

.rightbarInfoKey{
  font-weight: 500;
  margin-right: 15px;
  color: rgb(190, 190, 190);
}

.rightbarInfoValue{
  font-weight: 300;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  }

.rightbarFollowings{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content:flex-start
}

.rightbarFollowing{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.rightbarFollowingImg{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 25px;
  border-radius: 5px;
}

.rightbarFollowButton{
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  background-color: MediumSlateBlue;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.rightbarFollowButton:focus{
  outline: none;
}

.explorePerson {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
.explorePersonName{
    font-size: 18px;
    align-items: center;
    color: lightgrey;
    font-weight: 500;
}

.explorePersonImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }