.explorePerson {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
.explorePersonName{
    font-size: 18px;
    align-items: center;
    color: lightgrey;
    font-weight: 500;
}

.explorePersonImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }